:root[data-theme="dark"] {
    --navbar-bg-gradient: linear-gradient(90deg, #292c33, #45709d);
    --text-color: #F7FAFC;
    --logo-highlight-color: #63B3ED;
    --link-hover-color: #63B3ED;
    --cta-bg-color: #63B3ED;
    --cta-text-color: #1A202C;
    --cta-hover-shadow: rgba(99, 179, 237, 0.3);
    --cta-bs-color: rgba(99, 179, 237, 0.3);
    --card-bg-color: #2D3748;
    --card-border-color: #63B3ED;
}

:root[data-theme="light"] {
    --navbar-bg-gradient: linear-gradient(90deg, #feda9a, #F7FAFC);
    --text-color: #1A202C;
    --logo-highlight-color: #F6AD55;
    --link-hover-color: #F6AD55;
    --cta-bg-color: #F6AD55;
    --cta-text-color: #FFFFFF;
    --cta-hover-shadow: rgba(246, 173, 85, 0.3);
    --cta-bs-color: rgba(246, 173, 85, 0.3);
    --card-bg-color: #FFFFFF;
    --card-border-color: #F6AD55;
}


  
  
  